* {
  margin: 0;
}

.horizontal-scroll-wrapper {
  width: 206px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-color: blue;
  border-style: solid;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  width: 200px;
  height: 200px;
  border-color: red;
  border-style: solid;
  transform: rotate(90deg);
  transform-origin: right top;
}
